# Visualizing the Weather throughout the Year
This Jupyter Notebook contains the beginning steps of the formation of `function_library`. It is kept to demonstrate the steps taken in problem-solving towards creating a standardized way to generate, analyze, and compare a given range of time and its weather characteristics. Why? To create a heatmap calendar of the weather of a given location.

First, a connection was established to the API of `weather.com`. The JSON data were originally discovered through inspecting the elements of `https://www.wunderground.com/calendar/us/tx/lubbock`. To replicate, `Inspect (Ctrl + Shift + I) > Network > XHR > Name > historical.json? ... `

In [3]:
import requests

TOKEN = '6532d6454b8aa370768e63d6ba5a832e' # Public Key
startDate = '20201201'
endDate = '20201231'
url = requests.get(f'https://api.weather.com/v1/location/KLBB:9:US/observations/historical.json?apiKey={TOKEN}&units=e&startDate={startDate}&endDate={endDate}')
response = url.json()

Metadata may be useful, but is not investigated for the purpose of this Notebook.

In [3]:
response.keys()

dict_keys(['metadata', 'observations'])

A pandas DataFrame can quite natively make sense of JSON data.

In [4]:
import datetime
import pandas as pd

df = pd.DataFrame(response['observations'])

In [5]:
df.head()

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,KLBB,observation,1606812780,KLBB,Lubbock,1606805580,N,37,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
1,KLBB,observation,1606816380,KLBB,Lubbock,1606809180,N,37,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
2,KLBB,observation,1606819980,KLBB,Lubbock,1606812780,N,37,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
3,KLBB,observation,1606823580,KLBB,Lubbock,1606816380,N,36,33,3300,...,FEW,None,None,None,None,None,None,None,None,None
4,KLBB,observation,1606827180,KLBB,Lubbock,1606819980,N,34,33,3300,...,FEW,None,None,None,None,None,None,None,None,None

Notice the columns `['expire_time_gmt', 'valid_time_gmt']`: the integer time format may be transcribed to datetime via `.fromtimestamp()` and `.strftime()`.

```
def time_to_date(col: pd.core.series.Series) -> pd.core.series.Series:
    '''
    Given a pandas Series (specifically pandas.core.series.Series) in 
    integer time format, transform into MM/DD/YYYY-HH:MM:SS format.
    '''
    temp = []
    for idx in range(len(col)):
        temp.append(datetime.datetime.fromtimestamp(col[idx]).strftime('%m/%d/%Y-%H:%M:%S'))
    return temp
```

This function has been moved to `function_library`.

In [6]:
fl.time_to_date(df['expire_time_gmt'])[:5]

['12/01/2020-02:53:00',
 '12/01/2020-03:53:00',
 '12/01/2020-04:53:00',
 '12/01/2020-05:53:00',
 '12/01/2020-06:53:00']

In [7]:
df['expire_time_gmt'] = fl.time_to_date(df['expire_time_gmt'])
df['valid_time_gmt'] = fl.time_to_date(df['valid_time_gmt'])
df.head()

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,KLBB,observation,12/01/2020-02:53:00,KLBB,Lubbock,12/01/2020-00:53:00,N,37,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
1,KLBB,observation,12/01/2020-03:53:00,KLBB,Lubbock,12/01/2020-01:53:00,N,37,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
2,KLBB,observation,12/01/2020-04:53:00,KLBB,Lubbock,12/01/2020-02:53:00,N,37,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
3,KLBB,observation,12/01/2020-05:53:00,KLBB,Lubbock,12/01/2020-03:53:00,N,36,33,3300,...,FEW,None,None,None,None,None,None,None,None,None
4,KLBB,observation,12/01/2020-06:53:00,KLBB,Lubbock,12/01/2020-04:53:00,N,34,33,3300,...,FEW,None,None,None,None,None,None,None,None,None

Even within the `'observations'` key there are many unnecessary columns.

In [8]:
df.columns

Index(['key', 'class', 'expire_time_gmt', 'obs_id', 'obs_name',
       'valid_time_gmt', 'day_ind', 'temp', 'wx_icon', 'icon_extd',
       'wx_phrase', 'pressure_tend', 'pressure_desc', 'dewPt', 'heat_index',
       'rh', 'pressure', 'vis', 'wc', 'wdir', 'wdir_cardinal', 'gust', 'wspd',
       'max_temp', 'min_temp', 'precip_total', 'precip_hrly', 'snow_hrly',
       'uv_desc', 'feels_like', 'uv_index', 'qualifier', 'qualifier_svrty',
       'blunt_phrase', 'terse_phrase', 'clds', 'water_temp',
       'primary_wave_period', 'primary_wave_height', 'primary_swell_period',
       'primary_swell_height', 'primary_swell_direction',
       'secondary_swell_period', 'secondary_swell_height',
       'secondary_swell_direction'],
      dtype='object')

In [9]:
cols_to_keep = ['obs_name', 
                'valid_time_gmt', 
                'pressure', 
                'temp', 
                'feels_like']
df[cols_to_keep][:5]

  obs_name       valid_time_gmt  pressure  temp  feels_like
0  Lubbock  12/01/2020-00:53:00     26.69    37          30
1  Lubbock  12/01/2020-01:53:00     26.67    37          28
2  Lubbock  12/01/2020-02:53:00     26.64    37          28
3  Lubbock  12/01/2020-03:53:00     26.61    36          26
4  Lubbock  12/01/2020-04:53:00     26.59    34          24

In [10]:
slim_df = df[cols_to_keep]
slim_df.head()

  obs_name       valid_time_gmt  pressure  temp  feels_like
0  Lubbock  12/01/2020-00:53:00     26.69    37          30
1  Lubbock  12/01/2020-01:53:00     26.67    37          28
2  Lubbock  12/01/2020-02:53:00     26.64    37          28
3  Lubbock  12/01/2020-03:53:00     26.61    36          26
4  Lubbock  12/01/2020-04:53:00     26.59    34          24

This more-lightweight alternative will ultimately allow for a convenient transformation of the DataFrame. For now, it can be made into a time series.

In [11]:
slim_df = slim_df.set_index(pd.DatetimeIndex(slim_df['valid_time_gmt'].values)) # Keep the column for indexing magic
slim_df.head()

                    obs_name       valid_time_gmt  pressure  temp  feels_like
2020-12-01 00:53:00  Lubbock  12/01/2020-00:53:00     26.69    37          30
2020-12-01 01:53:00  Lubbock  12/01/2020-01:53:00     26.67    37          28
2020-12-01 02:53:00  Lubbock  12/01/2020-02:53:00     26.64    37          28
2020-12-01 03:53:00  Lubbock  12/01/2020-03:53:00     26.61    36          26
2020-12-01 04:53:00  Lubbock  12/01/2020-04:53:00     26.59    34          24

After transcribing the above cells into `function_library.py`, verify that the function works as expected.

In [14]:
test_month = fl.generate_month('20201201', '20201231')
test_month.head()

                    obs_name       valid_time_gmt  pressure  temp  feels_like
2020-12-01 00:53:00  Lubbock  12/01/2020-00:53:00     26.69    37          30
2020-12-01 01:53:00  Lubbock  12/01/2020-01:53:00     26.67    37          28
2020-12-01 02:53:00  Lubbock  12/01/2020-02:53:00     26.64    37          28
2020-12-01 03:53:00  Lubbock  12/01/2020-03:53:00     26.61    36          26
2020-12-01 04:53:00  Lubbock  12/01/2020-04:53:00     26.59    34          24